name: Hello World!

on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    # I run 24.04 so for consistency...
    runs-on: ubuntu-24.04
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"